logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
.cache
/public/docs/schema_changes/changeset141205b.xml
/public/docs/schema_changes/datapopmod.csv
/public/docs/schema_changes/organisations.csv
/public/docs/schema_changes/regulators.csv
