<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
  
  <display-name>Noise Registry</display-name>

  <resource-ref>
	<description>Postgres Datasource</description>
	<res-ref-name>jdbc/NoiseRegistryDS</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
  	<description>Email Server</description>
  	<res-ref-name>mail/Session</res-ref-name>
  	<res-type>javax.mail.Session</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-env-ref>
     <resource-env-ref-name>sendMailFrom</resource-env-ref-name>
 	 <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
  
  <resource-env-ref>
     <resource-env-ref-name>externalHostname</resource-env-ref-name>
 	 <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
 
  <resource-env-ref>
     <resource-env-ref-name>regulatorOverrideAddress</resource-env-ref-name>
 	 <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
  
  <resource-env-ref>
     <resource-env-ref-name>noiseproducerOverrideAddress</resource-env-ref-name>
 	 <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>
  
  <resource-env-ref>
     <resource-env-ref-name>jnccOverrideAddress</resource-env-ref-name>
 	 <resource-env-ref-type>java.lang.String</resource-env-ref-type>
  </resource-env-ref>    
 
  <listener>
      <listener-class>play.core.server.servlet25.Play2Servlet</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>play</servlet-name>
    <servlet-class>play.core.server.servlet25.Play2Servlet</servlet-class>	
  </servlet>
    	    
  <servlet-mapping>
    <servlet-name>play</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>