@(au:AppUser, newPassword:String, host:String, bHTML: Boolean)
@import includes._
@if(bHTML) {
<html>
<head>
</head>
<body style="font-size:medium; font-family:Calibri,sans-serif">
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.salutation", au.getFullname()))
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.preamble"))
</div>
<div>
@newPassword
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.prelink"))
</div>
<div>
<a href="http://@(host + routes.LoginController.index())">@Messages("resetpassword.mail.linktext")</a>
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.footer"))
</div>
@email_footer(host,bHTML)
</body>
</html>
} else {
@Messages("resetpassword.mail.salutation", au.getFullname())
@Messages("resetpassword.mail.preamble.plain")
@newPassword
@Messages("resetpassword.mail.prelink")
http://@(host + routes.LoginController.index()) @Messages("resetpassword.mail.linktext")
@Messages("resetpassword.mail.footer.plain")
@email_footer(host,bHTML)
}
