@(aas:List[ActivityApplication], host:String, statusKey: String, regulatorContactname: String, regulatorEmail:String, overrideEmail:String, bHTML: Boolean)
@import includes._
@if(bHTML) {
<html>
<head>
</head>
<body style="font-size:medium; font-family:Calibri,sans-serif">
@if(!overrideEmail.equals("")) {
	<div>Email for intended regulator address: @regulatorEmail (Regulator email override has been configured to prevent mail going out)</div>
	<br />
}
<div>
@play.twirl.api.Html(Messages("regulator.activity." + statusKey + ".mail.salutation", regulatorContactname))
</div>
<div>
@play.twirl.api.Html(Messages("regulator.activity." + statusKey + ".mail.preamble"))
</div>
<div>
	<table title="Late Activity applications for your organisation"
			style="border-collapse: collapse; border-spacing: 0px; width: 100%;">
    	<thead>
   			<tr>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3; width:5em;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_aan"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3; width:5em;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_parent_aa"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_start_date"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_end_date"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_activity_type"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col" style="width:5em">@play.twirl.api.Html(Messages("activities.tableheading_report_due_date"))</th>
     			<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_noiseproducer"))</th>
   				<th style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;" scope="col">@play.twirl.api.Html(Messages("activities.tableheading_regulator"))</th>
   			</tr>
 		</thead>
 		<tbody>
@for(activityapp <- aas) {
			<tr>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;"><a href="http://@(host + routes.ActivityApplicationController.read(activityapp.getId()))">@activityapp.getId()</a></td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@if(activityapp.getParent()!=null){@activityapp.getParent().getId()}</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@view_displaydate(activityapp.getDate_start())</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@view_displaydate(activityapp.getDate_end())</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@ActivityTypes.get(activityapp.getActivitytype_id())</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3; font-weight:bold; color:red;">@view_displaydate(activityapp.getDate_due())</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@activityapp.getNoiseproducer().getOrganisation().getOrganisation_name()</td>
				<td style="text-align: left; padding: 0.75em 1em 0.5em 0; border-bottom: 1px solid #BFC1C3;">@activityapp.getRegulator().getOrganisation().getOrganisation_name()</td>
			</tr>
}
		</tbody>
	</table>
</div>
<div>
@play.twirl.api.Html(Messages("regulator.activity." + statusKey + ".mail.footer"))
</div>
@email_footer(host,bHTML)
</body>
</html>
} else {
@Messages("regulator.activity." + statusKey + ".mail.salutation", regulatorContactname)
@Messages("regulator.activity." + statusKey + ".mail.preamble.plain")
@Messages("activities.tableheading_aan") @Messages("activities.tableheading_parent_aa") @Messages("activities.tableheading_start_date") @Messages("activities.tableheading_end_date") @Messages("activities.tableheading_activity_type") @Messages("activities.tableheading_report_due_date") @Messages("activities.tableheading_noiseproducer") @Messages("activities.tableheading_regulator")
@for(activityapp <- aas) {
@activityapp.getId() @if(activityapp.getParent()!=null){@activityapp.getParent().getId()} @view_displaydate(activityapp.getDate_start()) @view_displaydate(activityapp.getDate_end()) @ActivityTypes.get(activityapp.getActivitytype_id()) @view_displaydate(activityapp.getDate_due()) @activityapp.getNoiseproducer().getOrganisation().getOrganisation_name() @activityapp.getRegulator().getOrganisation().getOrganisation_name()
}
@Messages("regulator.activity." + statusKey + ".mail.footer.plain")
@email_footer(host,bHTML)
}
