@(ou:OrgUser, host:String, bHTML: Boolean)
@import includes._
@if(bHTML) {
<html>
<head>
</head>
<body style="font-size:medium; font-family:Calibri,sans-serif">
<div>
@play.twirl.api.Html(Messages("userremoval.mail.salutation", ou.getAu().getFullname()))
</div>
<div>
@play.twirl.api.Html(Messages("userremoval.mail.preamble", ou.getOrg().getOrganisation_name()))
</div>
<div>
<a href="http://@(host + routes.LoginController.index())">@Messages("userremoval.mail.linktext")</a>
</div>
<div>
@play.twirl.api.Html(Messages("userremoval.mail.footer"))
</div>
@email_footer(host,bHTML)
</body>
</html>
} else {
@Messages("userremoval.mail.salutation", ou.getAu().getFullname())
@Messages("userremoval.mail.preamble.plain", ou.getOrg().getOrganisation_name())
http://@(host + routes.LoginController.index()) @Messages("userremoval.mail.linktext")
@Messages("userremoval.mail.footer.plain")
@email_footer(host,bHTML)
}
