@(appUser: AppUser, passwordForm: Form[AppUserChangePassword], title: String)
@import layouts._
@import scala._
@import includes._
@import helper._

@head={
	@noiseregistry_head()
	@noiseregistry_googleanalytics()
}
@bodyEnd={
	@noiseregistry_scripts()
}  
@insideHeader={}
@afterHeader={}
@footerTop={}
@footerLinks={
	@noiseregistry_footer()
}
@headerClass={with-proposition}
@propositionHeader={
  	@noiseregistry_navigation(if(appUser==null) {"NONE"} else {appUser.getOrgRole()}, "HOME")	
}
	
@jncc_template(Option("Marine Noise Registry"),None)(Option(head), Option(bodyEnd), Option(insideHeader), Option(afterHeader), Option(footerTop), Option(footerLinks), Option(headerClass), Option(propositionHeader)) {
	<main id="page-container" role="main">
	@noiseregistry_phasebanner()
  	@noiseregistry_breadcrumb("CHANGEPASSWORD")
  	<a id="content"></a>
  	<h1 class="heading-large">@title</h1>

	@helper.form(action = routes.ChangePasswordController.save()) {
	
		@if(passwordForm.hasGlobalErrors) {
			@for(error <- passwordForm.globalErrors) {
				<p class="validation-message">@Messages(error.message)</p>
			}
       	}
		
		<input type="hidden" name="email_address" id="email_address" value="@session.get("email")" >
		 
		@inputPassword(passwordForm("current_password"), 
			'_label->Messages("changepasswordform.field_heading.current_password"),
			'_fieldhint->Messages("changepasswordform.field_hint.current_password"),
			'_showConstraints -> false, 
			'class->"form-control")(govuk.govukFieldConstructor, implicitly[Lang])

		@inputPassword(passwordForm("password_entry"), 
			'_label->Messages("changepasswordform.field_heading.password_entry"), 
			'_fieldhint->Messages("changepasswordform.field_hint.password_entry"), 
			'_showConstraints -> false,
			'class->"form-control")(govuk.govukFieldConstructor, implicitly[Lang])
			
		@inputPassword(passwordForm("password_confirm"), 
			'_label->Messages("changepasswordform.field_heading.password_confirm"), 
			'_fieldhint->Messages("changepasswordform.field_hint.password_confirm"), 
			'_showConstraints -> false,
			'class->"form-control")(govuk.govukFieldConstructor, implicitly[Lang])
			
	    <input class="button" type="submit" value="@Messages("changepasswordform.field_heading.submit")">
	
	}
	</main>
}
