@(appUser: AppUser, ou: OrgUser)

@import layouts._
@import scala._
@import includes._
@head={
	@noiseregistry_head()
	@noiseregistry_googleanalytics()
}
@bodyEnd={
	@noiseregistry_scripts()
}  
@insideHeader={}
@afterHeader={}
@footerTop={}
@footerLinks={
	@noiseregistry_footer()
}
@headerClass={with-proposition}
@propositionHeader={
  	@noiseregistry_navigation(if(appUser==null) {"NONE"} else {appUser.getOrgRole()}, "HOME")	
}
	
@jncc_template(Option("Marine Noise Registry"),None)(Option(head), Option(bodyEnd), Option(insideHeader), Option(afterHeader), Option(footerTop), Option(footerLinks), Option(headerClass), Option(propositionHeader)) {
	<main id="page-container" role="main">
		@noiseregistry_phasebanner()
  		@noiseregistry_breadcrumb("ORGREMOVEUSER")
  		<a id="content"></a>
    	<div class="grid-row">
    		<div class="column-two-thirds">
  		<h1 class="heading-large">@play.twirl.api.Html(Messages("organisationconfirmdelete.title"))</h1>
  		<p>@play.twirl.api.Html(Messages("organisationconfirmdelete.prename"))</p>
  		<p>@ou.getAu().getFullname()</p>
  		<p>@play.twirl.api.Html(Messages("organisationconfirmdelete.postname"))</p>

		@helper.form(action = routes.OrganisationController.deleteuser(), 'id -> "form") {
			<input type="hidden" name="id" value="@ou.getId().toString()">
        	<button class="button" type="submit" name="action" value="submit">@Messages("form.confirm")</button>
        	<a href="@routes.OrganisationController.getuser(ou.getId().toString())">@play.twirl.api.Html(Messages("form.cancel"))</a>
        }
	 		</div>
  		</div>
  	</main>
}
