@(appUser: AppUser, appForm: Form[Regulator], reg: Regulator)

@import layouts._
@import scala._
@import includes._
@head={
	@noiseregistry_head()
	@noiseregistry_googleanalytics()
}
@bodyEnd={
	@noiseregistry_scripts()
}  
@insideHeader={}
@afterHeader={}
@footerTop={}
@footerLinks={
	@noiseregistry_footer()
}
@headerClass={with-proposition}
@propositionHeader={
  	@noiseregistry_navigation(if(appUser==null) {"NONE"} else {appUser.getOrgRole()}, "HOME")	
}
	
@jncc_template(Option("Marine Noise Registry"),None)(Option(head), Option(bodyEnd), Option(insideHeader), Option(afterHeader), Option(footerTop), Option(footerLinks), Option(headerClass), Option(propositionHeader)) {
	<main id="page-container" role="main">
		@noiseregistry_phasebanner()
  		@noiseregistry_breadcrumb("ORGEDIT")
  		<a id="content"></a>
    	<div class="grid-row">
    		<div class="column-two-thirds">
	  			<h1 class="heading-large">@play.twirl.api.Html(Messages("organisationform.titlereg"))</h1>
				@helper.form(action = routes.RegulatorController.save(), 'id -> "form") {
					@if(reg!=null) {
						<input type="hidden" name="id" value="@reg.getId()">
						<input type="hidden" name="organisation.id" value="@reg.getOrganisation().getId()">
						<input type="hidden" name="organisation.administrator" value="@if(reg.getOrganisation().isAdministrator()){true}else{false}">
					} else {
						<input type="hidden" name="organisation.administrator" value="false">
					}
					@if(appForm.hasGlobalErrors) {
			    		<p class="validation-message">
			   	    		@appForm.globalError.message
				    	</p>
					}
			       	@form_inputtext(appForm, "organisation.organisation_name", "organisationform.regulator_name", "organisationform.field_hint.organisation_name","","")		
		    	   	@form_inputtext(appForm, "organisation.contact_name", "organisationform.contact_name", "organisationform.field_hint.contact_name","","")		
	    	   		@form_inputtext(appForm, "organisation.contact_email", "organisationform.contact_email", "organisationform.field_hint.contact_email","","")
	        		<div class="form-group">
    	    			<label class="block-label" for="@appForm("accepts_email").id">
	    	    			@helper.checkbox(appForm("accepts_email"), '_label->"organisationform.accepts_email")(govuk.govukGroupFieldConstructor, implicitly[Lang])
    	    				@Messages("organisationform.accepts_email")
        				</label>
	        		</div>
		        	@form_inputtext(appForm, "organisation.contact_phone", "organisationform.contact_phone", "organisationform.field_hint.contact_phone","","")
		        	@if(appUser.getOrgRole()=="OVERALL_ADMIN"){
		        		@form_inputtext(appForm, "closeoutdays", "organisationform.closeoutdays", "organisationform.field_hint.closeoutdays","","")				        	
		        	}else{
		        		<input type="hidden" name="@appForm("closeoutdays").name" value="@appForm("closeoutdays").value">
		        	}
		        	
					<input class="button" type="submit" value="@Messages("form.submit")">
				}
	 		</div>
  		</div>
  	</main>
}
